*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 ,h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
   object-fit: cover; 
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background: rgb(231,97,88);
    background: radial-gradient(circle, rgba(231,97,88,1) 0%, rgba(81,0,222,1) 100%);
}

.game {
    display: none;
    position: absolute;
    top: 125px;
    left: 450px;
    width: 900px;
    height: 700px;
    background-color: #fff;
}

.game__list, .game__checked {
    display: flex;
    font-size: 60px;
    margin-left: 50px;
}

.game__item, .checked__item {
    margin-right: 30px;
    cursor: pointer;
}

.checked__item {
    margin-top: 50px;
    border: 1px solid black;
    padding: 10px;
}

.cp {
    pointer-events: none;
    border: 1px solid red;
}

.game__item {
    opacity: 0;
}

.r {
    opacity: 1;
}

.game__item::after {
    content: " ";
    display: block;
    border-bottom: 5px solid black;
}

.calculator {
    width: 500px;
}

.calculator__input {
    width: 100%;
    border: none;
    height: 55px;
    border-radius: 10px;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
}

.calculator__btn {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 70px);
    text-align: center;
    justify-items: center;
    justify-content: center;
    gap: 10px 5px;
}

.num {
    width: 60px;
    height: 60px;
    background-color: #fff;
    color: black;
    cursor: pointer;
    border-radius: 50%;
    padding-top: 20px; 
    font-weight: 700;
    transition: all .3s;
}

.num:hover {
    background-color: black;
    color: #fff;
}

.symDel{
    grid-column: 4/ -1;
}

.numRavno {
    grid-column: 3 / -2;
}

.num-0 {
    grid-column: 2 / -3;
}